{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Anshu Garg">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Best Quality Handloom Products At Reasonable Prices" name="description">
    <meta content="Garg Handloom, Garg Handloom Home Decor, Garg Handloom Home Decor Shop, Garg Handloom Home Decor Shop Palwal, Garg Handloom Palwal, Handloom Shop Palwal" name="keywords">

    <!-- Favicon -->
    <link defer href="{% static 'shop/img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link defer rel="preconnect" href="https://fonts.googleapis.com">
    <link defer rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link defer href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Lora:wght@600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link defer href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link defer href="{% static 'shop/css/animate.min.css' %}" rel="stylesheet">
    <link defer href="{% static 'shop/css/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link defer href="{% static 'shop/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link defer href="{% static 'shop/css/index.min.css' %}" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex"></div>

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
            <button id="navbar-toggler" aria-label="Toggle Navbar" type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="/" aria-label="Home" class="nav-item nav-link active">Home</a>
                    <a href="#about" aria-label="About Us" class="nav-item nav-link">About Us</a>
                    <a href="#products" aria-label="Products" class="nav-item nav-link">Products</a>
                    <a href="#contact" aria-label="Contact Us" class="nav-item nav-link">Contact Us</a>
                    <a href="#features" aria-label="Our Features" class="nav-item nav-link">Our Features</a>
                    <a href="#reviews" aria-label="Reviews" class="nav-item nav-link">Reviews</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    {% block body %}{% endblock %}

    <!-- Footer Start -->
    <div id="contact" class="container-fluid bg-dark footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="fw-bold text-primary mb-4">Garg Handloom Home Decor</h5>
                    <p>We are requesting all of you to visit our store atleast once. We are promise that we'll definitely provide you great deals and a remarkable experience.</p>

                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href="#" aria-label="Youtube"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-0" href="#" aria-label="Linkedin"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Address</h4>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Old GT Road, Committee Chowk, Palwal, India</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+91 9050735986</p>
                    <p><i class="fa fa-envelope me-3"></i>amangarg9050@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#" aria-label="Copyright">garghandloom.herokuapp.com</a>, All Right Reserved.
                    </div>

                    <div class="col-md-6 text-center text-md-end">
                        Designed By: <a href="#" aria-label="Designed By">Anshu Garg</a>
                        <br>Powered By: <a href="#" aria-label="Powered By">Aman Garg</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top" aria-label="Back to Top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="{% static 'shop/js/jquery-3.6.1.min.js' %}"></script>
    <script defer src="{% static 'shop/js/wow.min.js' %}"></script>
    <script defer src="{% static 'shop/js/easing.min.js' %}"></script>
    <script defer src="{% static 'shop/js/waypoints.min.js' %}"></script>
    <script defer src="{% static 'shop/js/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script defer src="{% static 'shop/js/index.min.js' %}"></script>

    <script>
        setTimeout(function () {
            var getAnchors = $("img");

            for (var i = 0; i < getAnchors.length; i++) {
                getAnchors.attr("src", getAnchors[i].src.substr(0, getAnchors[i].src.lastIndexOf(".")) + ".webp");
            }
        }, 2000);
    </script>

</body>

</html>